@font-face {
    font-family: 'Ek Mukta';
    src: url(https://fonts.googleapis.com/css?family=Ek+Mukta);
}

body {
    font-family: 'Ek Mukta';
    src: url(https://fonts.googleapis.com/css?family=Ek+Mukta);
    font-size: 18px;
}